*.swp
.*.tmp
.remote-sync.json
.sync-config.cson
.electron
.electron-gyp
.npmrc
.idea
.jshintignore
.jshintrc

.DS_Store

# node.js
#
node_modules/
npm-debug.log

build/
dist/
private/
resources/
app/
.travis.yml
main.js
appveyor.yml
LICENSE

package-lock.json
process.html
updater.js
webpack.main.js
webpack.renderer.js
yarn.lock
